In [27]:
#导入相应的模块
import sklearn
import pandas as pd
import numpy as np
import matplotlib as mpt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [5]:
#导入数据
path='datas/household_power_consumption_1000.txt'
df=pd.read_csv(path,sep=';')

In [6]:
#查看数据
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [15]:
xdf=df.iloc[:,0:2] #取出X的原始值
y=df['Global_active_power']#取出y的值

In [16]:
#建立一个处理时间的函数
def time_format(x):
    import time
    t=time.strptime(' '.join(x),'%d/%m/%Y %H:%M:%S')#strptime函数进行时间格式的匹配
    return (t.tm_year,t.tm_mon,t.tm_mday,t.tm_hour,t.tm_min,t.tm_sec)#分别返回年月日时分秒

In [13]:
x=xdf.apply(lambda x:pd.Series(time_format(x)),axis=1)

In [14]:
x.head()

      0   1   2   3   4  5
0  2006  12  16  17  24  0
1  2006  12  16  17  25  0
2  2006  12  16  17  26  0
3  2006  12  16  17  27  0
4  2006  12  16  17  28  0

In [18]:
#划分测试集和训练集
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [29]:
#数据标准化
ss=StandardScaler()
#fit是做运算，计算标准化需要的均值和方差，transform是进行转化
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)

In [33]:
#建立线性模型
lr=LinearRegression()
lr.fit(x_train,y_train)
print("score:",lr.score(x_train,y_train))

score: 0.232255807137

In [34]:
y_predict=lr.predict(x_test)
print(lr.score(x_test,y_predict))

1.0